<a href="https://colab.research.google.com/github/xuxiufeng/Blockchain_Simulations/blob/main/SQLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 5.4 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=69cbe646f3778e1407a93591a934c0db4ef037f0234f4a45d7d196a130998ce7
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=c7ff40c36dbbabcca589a6714460eb857c4637b1c79a443cc68853f02e7607f9
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=c87e1f3631c263d613e9e039420f850cf0921bde046a11b7f0a8530d958a4d29
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [84]:
import pandas as pd
import sqlite3
from datetime import date

In [92]:
# connecting with the database
database = sqlite3.connect("dim_Employee.database")
try:
  database.execute("create table results(Employeeid, CompanyCode, EmployeeStartDate, CostCenterid, JobFamilyid, LastModifiedDate)")
except:
  print("Already table existed !!")

In [93]:
database = sqlite3.connect("testing.db")

In [94]:
database.execute("insert into results(Employeeid, CompanyCode, EmployeeStartDate, CostCenterid, JobFamilyid, LastModifiedDate) values('12345', 'h1984', '12-10-2007', '999999901', '555555', '12-10-2007')")
#db.commit()

OperationalError: ignored

In [88]:
db = sqlite3.connect("testing.db")
rs = db.execute('SELECT * FROM results')
for row in rs:
  print(row)

('12345', 'h1984', '22-01-2022', '999999901', '5555', '22-01-2022')
('12345', 'h1984', '22-01-2022', '999999901', '5555', '22-01-2022')
('12345', 'h1984', '22-01-2022', '999999901', '5555', '22-01-2022')

In [66]:
db.execute("insert into results(Employeeid, CompanyCode, EmployeeStartDate, CostCenterid, JobFamilyid, LastModifiedDate) values('12345', 'H1984', '22-01-2022, '999999901', '555555', '22-01-2022')")

OperationalError: ignored

In [71]:
db.execute(cmd)
db.commit()

OperationalError: ignored

In [18]:
db.execute("insert into results(EmployeeId, CompanyCode, CostCenterID, JobFamilyID) values ('12345', 'H1984', '22-01-2022, '9999', '555555', '22-01-2022')e")

OperationalError: ignored

In [46]:
db = sqlite3.connect("testing.db")
rs = db.execute('SELECT * FROM results')
for row in rs:
  print(row)

OperationalError: ignored